<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://moonfin.org/Moonfin" version="1.0.0" viewmodes="fullscreen">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="AprZAARz4r.Moonfin" package="AprZAARz4r" required_version="2.3"/>
    <author href="http://moonfin.org" email="apps@moonfin.org">Moonfin</author>
    <content src="browse.html"/>
    <description>Moonfin - A Jellyfin client for Samsung Smart TV (Tizen).</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="assets/icon-130.png"/>
    <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="fullscreen"/>
    <name>Moonfin</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/network.public"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="enable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
